<h1>Buttons functionalities not implemented yet</h1>

<%= form_for(@buttons_obj, url: bot_path) do |f| %>
  <%= f.submit 'Run bot', name: 'run' %>
  <%= f.submit 'Stop bot', name: 'close' %>
  <%= f.submit 'run bot in background', name: 'test' %>
<% end %>