<table class="table table-dark">
  <thead>
  <tr>
    <th>Game host</th>
    <th>Round time</th>
    <th>Difficulty</th>
    <th>Riddles count</th>
    <th>Winner</th>
  </tr>
  </thead>
  <tbody>
  <%= render @games %>
  </tbody>
</table>