<h5 class="text-light">
  <br>
  <p>
    This is a website for another project with discord bot. It receives and manipulates the data coming from the discord bot.
    <hr>
  <a class="one" href="https://github.com/Zuvvo/zuvvo-discord-bot">This project - github link</a>
  <br>
  <a class="one" href="https://github.com/Zuvvo/zuvvo-discord-bot-hosting">Associated project - github link</a>
  </p>

</h5>